.container {
  padding: 2rem 6rem;

  hr {
    width: 100%;
    border-style: solid;
    border-width: 0.5px;
    padding: 0;
    margin: 0;
    margin-block-start: 0.5rem;
  }
}

.yearSeparator {
  overflow: hidden;
  hr {
    border-color: var(--winter-sky);
  }
}

.job {
  padding-left: 20%;
  margin-block: 1.5rem;

  hr {
    margin-block: 1.5rem;
    border-color: var(--turquoise);
  }
}

.jobInfo {
  display: flex;
  header {
    font-size: 1.5rem;
    font-family: "PP Neue Montreal Medium";
    flex: 3;
  }
}

.jobRole,
.jobSkills {
  flex: 2;
  margin: 0;
}

.animateWord,
.animateChar,
.animateLine {
  display: inline-block;
  white-space: break-spaces;
  backface-visibility: hidden;
  will-change: transform, color;
  transform-origin: left center;
}
