.helloContainer {
  min-height: 100vh;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello {
  margin-inline: auto;
  font-size: 3rem;
  line-height: 1.5em;

  @media (max-width: 768px) {
    width: 100%;
    font-size: 2rem;
  }

  @media (max-width: 500px) {
    width: 100%;
    font-size: 1.5rem;
  }
}
