.container {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myName {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;

  @media (max-width: 1240px) {
    display: none;
  }
}

.navigation {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  @media (max-width: 1240px) {
    padding: 1rem;
  }

  &.bottom {
    bottom: 0;
    @media (max-width: 1240px) {
      bottom: unset;
      top: 0;
    }
  }

  &.top {
    top: 0;
    @media (max-width: 1240px) {
      top: unset;
      bottom: 0;
    }
  }
}

.links {
  display: flex;
  gap: 1rem;

  @media (max-width: 1240px) {
    flex: 1;
    justify-content: space-around;
  }
}

.scrollBarContainer {
  height: 10px;
  width: 100%;
  background: var(--lemon-glacier);
  position: fixed;
  bottom: 0;
  left: 0;
}

.scrollBar {
  height: 100%;
  background: var(--winter-sky);
}
