.topMenu {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr max-content;
  width: 100vw;
  padding: 2.5rem;
  z-index: 2;
}

.topMenu_navigation {
  display: flex;
  gap: 0.6rem;
}

.main {
  position: relative;
  padding-inline-start: 2.5rem;
  padding-inline-end: 2.5rem;
  min-height: 100vh;
}
