@font-face {
  font-family: "PP Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Book.otf");
}

:root {
  --smoky-black: #0c0f0aff;
  --winter-sky: #ff206eff;
  --lemon-glacier: #fbff12ff;
  --turquoise: #41ead4ff;
  --white: #ffffffff;

  --safe-inset-area-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}

html {
  font-size: 18px;
  font-family: "PP Neue Montreal", Helvetica Neue, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, sans-serif;
  color: var(--color-eerie-black);
  background: var(--color-eerie-black);
}

html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior-y: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin-block: 1em;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.6em;
  margin-block: 1.6em;
}

* {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}
