@font-face {
  font-family: "PP Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Book.otf") format("opentype");
}

:root {
  --color-eerie-black: #141514ff;
  --color-flame: #e53d00ff;
  --color-snow: #fbf5f3ff;
  --color-snow-dark: #f5e6e0;
  --color-wintergreen-dream: #6a8e7fff;
  --color-azure: #3185fcff;
}

html {
  font-size: 18px;
  font-family: "PP Neue Montreal", Helvetica Neue, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, sans-serif;
  color: var(--color-eerie-black);
  background: var(--color-snow);
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
