.container {
  padding-top: 8rem;
  padding-left: 50%;
  padding-right: 6rem;

  p:first-child {
    font-size: 1.5rem;
  }
}

.animateWord,
.animateChar,
.animateLine {
  display: inline-block;
  white-space: break-spaces;
  backface-visibility: hidden;
  will-change: transform;
  transform-origin: bottom left;
}
